<footer class="footer" style="background-color: #f3f3f3">
    <div class="d-flex justify-content-center">
        <span
            class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >
            Konser - 2024
        </span>
    </div>
</footer>
