<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div
        class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
    >
        <a class="navbar-brand brand-logo ms-5" href="<%= baseURL %>/">
            <img src="./logo.png" width="30" class="mr-2" alt="logo" />
            <span class="d-none d-lg-inline-block ml-1">Konser</span>
        </a>
        <a class="navbar-brand brand-logo-mini" href="<%= baseURL %>/"
            ><img src="./favicon.ico" alt="logo"
        /></a>
    </div>
    <div
        class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
    >
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-toggle="dropdown"
                    id="profileDropdown"
                    aria-expanded="true"
                >
                    <img src="./user.png" alt="profile" />
                </a>
                <div
                    class="dropdown-menu dropdown-menu-right navbar-dropdown"
                    aria-labelledby="profileDropdown"
                >
                    <a class="dropdown-item" href="<%= baseURL %>/login">
                        <i class="ti-power-off text-primary"></i>
                        Çıkış Yap
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
