<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="<%= baseURL %>/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title pt-2">Dashboard</span>
            </a>
        </li>
    </ul>
</nav>
